body{
    margin: 0px;
}

.container{
    margin: 0px;
    width: 100vw;
    height: 1800px;
    background-color: fuchsia;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(24, 30px);
    display: grid;
}

header{
    grid-row: 23/25;
    background-color: green;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    display: grid;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.hamburger{
    grid-row: 2/4;
    grid-column: 4/5;
    justify-self: center;
}

.material-icons.md-48 { 
    font-size: 48px;
    text-align: center;
    color: white;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: rgb(37, 37, 37); 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 70px; 
    transition: 0.5s; 
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #d3d3d3;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}


.sidenav .closebtn {
    position: absolute;
    top: 8px;
    left: 6px;
    font-size: 36px;
    margin-left: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size)
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} */

.banner{
    width: 100%px;
    height: 710px;
    background: url('../img/banner.jpg') -600px -150px;