body{
    margin: 0px;
}

.container{
    margin: 0px;
    width: 100vw;
    height: 710px;
    background-color: fuchsia;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(16, 1fr);
    display: grid;
}

header{
    grid-row:1/3;
    background-color: green;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, 1fr);
    display: grid;
}

.material-icons.md-48 { 
    font-size: 48px; 
}