<div class="gallery_row">
  <div class="gallery_column">
    <img src="./img/thumb_lel.jpg" onclick="openModal();currentSlide(1)" class="hover-shadow">
  </div>
  <div class="gallery_column">
    <img src="./img/thumb_lel2.jpg" onclick="openModal();currentSlide(2)" class="hover-shadow">
  </div>
  <div class="gallery_column">
    <img src="./img/thumb_lel2-2.jpg" onclick="openModal();currentSlide(3)" class="hover-shadow">
  </div>
  <div class="gallery_column">
    <img src="./img/thumb_lel2-3.jpg" onclick="openModal();currentSlide(4)" class="hover-shadow">
  </div>
</div>

<!-- The Modal/Lightbox -->
<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">1 / 4</div>
      <img src="./img/lel.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 4</div>
      <img src="./img/lel2.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="./img/lel2-2.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">4 / 4</div>
      <img src="./img/lel2-3.jpg" style="width:100%">
    </div>

    <!-- Next/previous controls -->
    <a class="gallery_prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="gallery_next" onclick="plusSlides(1)">&#10095;</a>

    <!-- Caption text -->
    <div class="caption-container">
      <p id="caption"></p>
    </div>

    <!-- Thumbnail image controls -->
    <!-- <div class="gallery_column">
      <img class="gallery_img" src="img1.jpg" onclick="currentSlide(1)" alt="Godrays">
    </div>

    <div class="gallery_column">
      <img class="gallery_img" src="img2.jpg" onclick="currentSlide(2)" alt="Trolltunga">
    </div>

    <div class="gallery_column">
      <img class="gallery_img" src="img3.jpg" onclick="currentSlide(3)" alt="Mountains">
    </div>

    <div class="gallery_column">
      <img class="gallery_img" src="img4.jpg" onclick="currentSlide(4)" alt="Lights"> -->
    </div>
  </div>
</div>