<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
        <span class="hamburger" onclick="openNav()">
            <i class="material-icons md-48">menu</i>
        </span>
        </header>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="index.html">Start</a>
            <a href="gallery.html">Gallery</a>
            <a href="Contact">Contact</a>
            <a href="Webshop">Webshop</a>
        </div>
        <main>
            <%=yield%>
        </main>
    </div>
    <script src="./js/script.js"></script>
    <script src="./js/simple-lightbox.js"></script>
</body>
</html>